<div class="modal fade" id="confirmationModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ url('construction_delete') }}" method="post">
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <input type="hidden" name="construction_id" id="construction_id" value="" />
                <div class="modal-body">
                    <h4>Czy na pewno chcesz usunąć ten objekt?</h4>
                    <h6>Ta akcja nie może zostać cofnięta.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" id="btnNo" data-dismiss="modal">
                        <i class="fas fa-ban" aria-hidden="true"></i> Anuluj
                    </button>
                    <button type="submit" class="btn btn-sm btn-danger" id="btnYes">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i> Usuń objekt
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
