{% extends 'base.html.twig' %}

{% block header %}

    {% javascripts '@ConstructionBundle/Resources/public/js/ConstructionForm.js' output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block body %}

    <div class="container body-container">
        <div class="row">
            <div class="col-sm-9">
                {{ include('form/flash_messages.html.twig') }}
                <h1>Edytuj objekt</h1>
                {{ include('form/edit_template.html.twig', {
                    form: form,
                    button_label: 'Zapisz',
                    include_back_to_home_link: true,
                    home_path: 'construction_homepage',
                    text: 'Powrót do listy objektów'
                }, with_context = false) }}
            </div>
            <div id="sidebar" class="col-sm-3">
                <div class="alert alert-info">
                    <strong>Informacja!</strong> 
                    <hr>
                    <p><strong>Notatka - </strong>Ważna informacja na temat budowy</p>
                    <p><strong>Np.</strong>Pilne zlecenie!!!, Za 2 tygodnie oddać objekt!, ...</p>
                </div>
                <div class="alert alert-info">
                    <strong>Informacja!</strong> 
                    <hr>
                    <p><strong>Widoczność notatki - </strong>Miejsce wyświetlania notatki</p>
                    <p><strong>Główna strona: </strong>obok listy wszystkich objektów</p>
                    <p><strong>Podstrona: </strong>na stronie konkretnego objektu</p>
                    <p><strong>Wyłączyć: </strong>dezaktywacja notatki</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}