textarea {
    resize: vertical;
    min-height: 40px;
    max-height: 200px;
}

.form-control {
    border: 2px solid #dce4ec;
}

.alert-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}