.body-container {
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    flex: 1;
    min-height: 600px;
}

#sidebar .section {
    margin-bottom: 2em;
}

table {
    margin-bottom: 0 !important;
}

label {
    display: unset !important;
}

.searchBox {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #dce4ec;
    border-radius: 4px;
}

.item-actions {
    white-space: nowrap;
}

td {
    vertical-align: unset !important;
}

.alert-success {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}

.btn-link {
    font-weight: 400;
    color: #18bc9c;
    border-radius: 0;
}

@media (max-width: 1200px) and (min-width: 768px) {
    .container {
        width: 98%;
    }
}